---
import { PROJECTS } from "@/shared/const/projects.const";
import type { IProject } from "@/shared/models/project.interface";
import Project from "../Project.astro";
import List from "./List.astro";

const projects: IProject[] = PROJECTS;

const { limit } = Astro.props;
---

<List styles="flex flex-col" title="Proyectos">
  <div class="flex flex-wrap justify-evenly gap-6 container mx-auto my-auto">
    {
      projects
        .map((project: IProject, index: number) => (
          <Project key={index} project={project} />
        ))
        .slice(0, limit)
    }
  </div>
</List>
