---
import { getNumbers } from "@/functions/numbers";
import type { INumbers } from "@/shared/models/numbers.interface";
import Card from "../Card.astro";
import List from "./List.astro";

const numbersDannielDev = await getNumbers();

numbersDannielDev.sort((a, b) => b.quantity - a.quantity);
---

<List styles="flex flex-col items-center" title="Estadísticas">
  <div class="flex gap-6 container mx-auto my-auto flex-wrap justify-center">
    {
      numbersDannielDev.map((project: INumbers, index: number) => (
        <Card key={index} title={project.name} count={project.quantity} />
      ))
    }
  </div>
</List>
