---
import Footer from "@/components/Footer.astro";
import ListsAticles from "@/components/list/ListsArticles.astro";
import Layout from "@/layout/Layout.astro";
---

<Layout
  description="Descubre el mundo del desarrollo de software desde la perspectiva de Daniel Navas, también conocido como Danniel DEV. En nuestro blog, encontrarás una variedad de artículos y proyectos que te inspirarán y te ayudarán a mantenerte al día con las últimas tendencias tecnológicas. Únete a nuestra comunidad y comienza tu viaje hacia la innovación."
  title="El Rincón de Daniel Navas | Danniel DEV: Explorando el Desarrollo de Software"
  canonical="https://danniel.dev/blog"
>
  <main class="bg-[#102742] max-sm:px-4">
    <ListsAticles numberItems="300" />
  </main>
  <Footer />
</Layout>
