---
import Footer from "@/components/Footer.astro";
import Hero from "@/components/Hero.astro";
import ListNumbers from "@/components/list/ListNumbers.astro";
import ListProjects from "@/components/list/ListProjects.astro";
import ListsAticles from "@/components/list/ListsArticles.astro";
import ListVideo from "@/components/list/ListVideo.astro";
import Layout from "@/layout/Layout.astro";
---

<Layout
  description="Explora el conocimiento y los proyectos desarrollados por Daniel Navas, también conocido como Danniel DEV, en el mundo del desarrollo de software. Únete a nuestra comunidad tecnológica y descubre cómo llevamos la innovación a la práctica."
  title="Danniel DEV | Daniel Navas: Artículos y Proyectos en Desarrollo de Software"
  canonical="https://danniel.dev"
>
  <main class="bg-[#102742] max-sm:px-4">
    <Hero />
    <ListProjects limit="3" />
    <ListsAticles numberItems="3" />
    <ListVideo />
    <ListNumbers />
  </main>
  <Footer />
</Layout>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

  p,
  span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
</style>
