---
import Layout from "@/layout/Layout.astro";
---

<Layout
  description="Personal website of Danniel Dev, a software engineer and web developer. I write about web development, software engineering, and other topics."
  title="Danniel Dev"
  canonical="https://danniel.dev"
>
  <main></main>
</Layout>
