---
import Footer from "@/components/Footer.astro";
import Hero from "@/components/Hero.astro";
import ListNumbers from "@/components/list/ListNumbers.astro";
import ListProjects from "@/components/list/ListProjects.astro";
import ListsAticles from "@/components/list/ListsAticles.astro";
import Youtube from "@/components/Youtube.astro";
import Layout from "@/layout/Layout.astro";
---

<Layout
  description="Explora el conocimiento y los proyectos desarrollados por Daniel Navas, también conocido como Danniel DEV, en el mundo del desarrollo de software. Únete a nuestra comunidad tecnológica y descubre cómo llevamos la innovación a la práctica."
  title="Danniel DEV | Daniel Navas: Artículos y Proyectos en Desarrollo de Software"
  canonical="https://danniel.dev"
>
  <main class="bg-[#102742]">
    <Hero />
    <ListsAticles numberItems="3" />
    <ListProjects limit="3" />
    <section class="flex flex-col items-center justify-center mt-8">
      <h2
        class="text-3xl font-bold mt-12 ml-32 text-left self-start text-[#7AEC51] mb-6"
      >
        Video
      </h2>
      <Youtube
        videoId="Qh7lxF6tYNQ"
        title="Instalación y configuración sistema operativo Linux"
      />
    </section>
    <ListNumbers />
  </main>
  <Footer />
</Layout>
