---
import Layout from "@/layout/Layout.astro";
---

<Layout
  description="Explora el conocimiento y los proyectos desarrollados por Daniel Navas, también conocido como Danniel DEV, en el mundo del desarrollo de software. Únete a nuestra comunidad tecnológica y descubre cómo llevamos la innovación a la práctica."
  title="Danniel DEV | Daniel Navas: Artículos y Proyectos en Desarrollo de Software"
  canonical="https://danniel.dev"
>
  <main></main>
</Layout>
