---
import Footer from "@/components/Footer.astro";
import ListProjects from "@/components/list/ListProjects.astro";
import Layout from "@/layout/Layout.astro";
---

<Layout
  description="Explora los proyectos destacados creados por Daniel Navas, también conocido como Danniel DEV. Desde aplicaciones web hasta aplicaciones móviles, cada proyecto refleja la pasión y la experiencia en desarrollo de software de Daniel. Únete a nosotros mientras exploramos el emocionante mundo de la tecnología a través de nuestras creaciones innovadoras."
  title="Proyectos Destacados de Daniel Navas | Danniel DEV"
  canonical="https://danniel.dev/projects"
>
  <main class="bg-[#102742] max-sm:px-4">
    <ListProjects limit="0" />
  </main>
  <Footer />
</Layout>
