---
const { count, title } = Astro.props;
---

<article
  class="lg:min-w-[501px] max-lg:min-h-[117px] bg-white rounded-lg flex justify-center items-center gap-8 max-sm:w-screen max-sm:min-h-28 md:min-h-28"
>
  <span class="text-[#7AEC51] text-2xl font-bold m-0 w-auto">{count}</span>
  <h4 class="font-normal leading-7 m-0 w-auto">{title}</h4>
</article>
