<nav class="">
  <div class="logo">
    <img src="" alt="" />
    <h3>Danniel Dev</h3>
  </div>
  <menu>
    <li>
      <a href="">Inico</a>
    </li>
    <li>
      <a href="">Post</a>
    </li>
    <li>
      <a href="">Proyectos</a>
    </li>
  </menu>
</nav>
