---
import { TECHNOLOGIES } from "@/shared/const/technologies.const";
import type { Technology } from "@/shared/models/technology.interface";
import Danniel from "./Danniel.astro";

const technologies: Technology[] = TECHNOLOGIES;
---

<header class="flex bg-[#102742] container mx-auto my-auto">
  <section
    class="flex flex-col lg:w-1/2 max-sm:w-full md:w-svw md:mt-8 max-sm:mt-8 justify-center items-center md:mx-auto sm:mx-auto"
  >
    <article
      class="bg-white flex h-[140px] w-[436px] rounded-lg items-center justify-center gap-4 max-sm:w-full"
    >
      <img src="/img/hero/spock.webp" alt="Spock" class="h-[75px]" />
      <div class="w-[217px] h-auto">
        <p class="m-0 font-normal text-sm">Hola, soy</p>
        <h2 class="m-0 text-2xl font-extrabold leading-6">Danniel Navas</h2>
        <p class="m-0 font-medium">JavaScript developer.</p>
      </div>
    </article>
    <div class="flex gap-3 mt-6 flex-wrap">
      {
        technologies.map((technology) => (
          <img
            src={technology.icon}
            alt={technology.name}
            class="h-[39px] w-[39px] aspect-3/2 object-contain"
          />
        ))
      }
    </div>
  </section>
  <section class="max-md:hidden max-sm:hidden md:hidden lg:flex lg:w-1/2">
    <Danniel />
  </section>
</header>
