---
import type { IProject } from "@/shared/models/project.interface";

const { project } = Astro.props as { project: IProject };

const { name, description, technologies, github, live, image } = project;
---

<div class="px-2 py-20 w-full flex justify-center">
  <div class="bg-white lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg rounded-lg">
    <div class="lg:w-1/2">
      <div
        class="lg:scale-110 h-80 bg-cover lg:h-full rounded-b-none border lg:rounded-lg w-[490px] bg-center bg-no-repeat"
        style={"background-image:url('" + image + "')"}
      >
      </div>
    </div>
    <div
      class="py-12 px-6 lg:px-12 max-w-xl lg:max-w-5xl lg:w-1/2 rounded-t-none border lg:rounded-lg"
    >
      <h2 class="text-3xl text-gray-800 font-bold">
        {name}
      </h2>
      {technologies.map((tech) => <span class="text-indigo-600"> {tech}</span>)}
      <p class="mt-4 text-gray-600">
        {description}
      </p>
      <div class="mt-8">
        <a
          href={live}
          target="_blank"
          class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold rounded"
          >Visitar</a
        >
      </div>
    </div>
  </div>
</div>
